{% extends "base.html" %} {% block content %}
<section>
  <h2>Links archive:</h2>
  <p>Tools:</p>
  <ul>
    <li><a href="/tools/qsprpred">QSPRpred</a></li>
    <li><a href="/tools/qaop_app">qAOP app</a></li>
  </ul>
  <p>Case studies:</p>
  <ul>
    <li>
      Parkinson
      <ul>
        <li>
          <a href="/case_studies/parkinson/workflows/parkinson_qAOP"
            >Parkinson qAOP workflow</a
          >
        </li>
      </ul>
    </li>
    <li>
      Thyroid
      <ul>
        <li>
          <a
            href="/case_studies/thyroid/workflows/thyroid_hackathon_demo_workflow"
            >Thyroid hackathon demo workflow</a
          >
        </li>
        <li>
          <a href="/case_studies/thyroid/workflows/ngra_silymarin"
            >Thyroid Silymarin workflow 2</a
          >
        </li>
        <li>
          <a href="/case_studies/thyroid/workflows/thyroid_qAOP"
            >Thyroid qAOP</a
          >
        </li>
      </ul>
    </li>
  </ul>
</section>
{% endblock %}
