<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/css/trial.css">
    <script>
        function toggleMenu() {
            document.getElementById('menuOverlay').classList.toggle('open');
        }

        function toggleReadMore() {
            const content = document.querySelector('.read-more-content');
            const button = document.querySelector('.read-more-btn');
            const isHidden = content.style.display === 'none';
            content.style.display = isHidden ? 'block' : 'none';
            button.textContent = isHidden ? 'Read less.' : 'Read more...';
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.partner-logo').forEach(logo => {
                logo.addEventListener('click', () => {
                    window.open(logo.getAttribute('data-link'), '_blank');
                });
            });
        });

        function scrollCarousel(direction) {
            const carousel = document.querySelector('.carousel');
            const logoWidth = 250; // Width of each logo including padding and gap
            const scrollAmount = logoWidth * 2; // Scroll by 2 logos
            carousel.scrollBy({ left: direction === 'left' ? -scrollAmount : scrollAmount, behavior: 'smooth' });
        }

        document.querySelectorAll('.menu-overlay a').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
                }
            });
        });

        document.addEventListener('click', (event) => {
            const menuOverlay = document.getElementById('menuOverlay');
            if (menuOverlay.classList.contains('open') && !menuOverlay.contains(event.target) && !event.target.classList.contains('hamburger-menu')) {
                menuOverlay.classList.remove('open');
            }
        });

        function scrollToNextSection() {
            window.scrollBy({ top: window.innerHeight / 1.5, behavior: 'smooth' });
        }
    </script>
</head>
<body>
    <nav class="navbar">
        <header>
            <img src="/static/images/vhp_higher_res.png" alt="Logo" class="logo-image">
        </header>
        <div class="nav-links">
            <button>Assessment</button>
            <button>Workflows</button>
            <button>Tools</button>
            <button>Data</button>
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">☰</div>
    </nav>
    <div class="menu-overlay" id="menuOverlay">
        <div class="close-button" onclick="toggleMenu()">✖</div>
        <ul>
            <li><a href="#about-section">About</a></li>
            <li><a href="#partners-section">Partners</a></li>
            <li><a href="#contact-section">Contact</a></li>
        </ul>
    </div>
    <section class="hero">
        <div class="hero-text">
            <h1>THE VIRTUAL <br> HUMAN PLATFORM</h1>
            <p>TOWARDS SAFETY ASSESSMENT BASED ON HUMAN DATA</p>
        </div>
        <div class="hero-image">
            <img src="/static/images/hero.png" alt="Hero Image">
        </div>
    </section>
    <section class="tab-section">
        <div class="hexagram-container">
            <div class="hexagram-wrapper">
                <button class="nav-button assessment">Assessment</button>
                <div class="hexagram">
                    <p>Discover the VHP tools most relevant to your research by selecting the risk assessment stage you are working on.</p>
                </div>
                <div class="arrow assessment-arrow"></div>
            </div>
            <div class="hexagram-wrapper">
                <button class="nav-button workflows">Workflows</button>
                <div class="hexagram">
                    <p>Try out our workflows to combine multiple VHP tools in a way that is most likely to answer your research question.</p>
                </div>
                <div class="arrow workflows-arrow"></div>
            </div>
            <div class="hexagram-wrapper">
                <button class="nav-button tools">Tools</button>
                <div class="hexagram">
                    <p>Select any of the VHP tools to streamline your risk assessment process and get results relevant to your research.</p>
                </div>
                <div class="arrow tools-arrow"></div>
            </div>
            <div class="hexagram-wrapper">
                <button class="nav-button data">Data</button>
                <div class="hexagram">
                    <p>Find all the (meta)data you may need to use the VHP tools and run the workflows as efficiently as possible.</p>
                </div>
                <div class="arrow data-arrow"></div>
            </div>
        </div>
    </section>
    <section class="about-section" id="about-section">
        <h2>About VHP4Safety</h2>
        <p>
            The Virtual Human Platform (VHP) was developed through the VHP4Safety project to support chemical and pharmaceutical safety testing. By developing in silico tools and in vitro models, we provided a platform for precision safety testing that aims to eliminate the need for laboratory animals. VHP helps risk assessors evaluate the safety of chemicals for human use, focusing on vulnerable groups like infants, the elderly, and individuals with health conditions.
        </p>
        <h3>Our Mission</h3>
        <p>VHP aims to facilitate the prediction of harmful effects of chemicals and pharmaceuticals by integrating human physiology, chemical properties, and biological pathway disturbances. The platform supports:</p>
        <ul>
            <li>Human-relevant scenarios, such as age, gender, disease states, and exposure timing;</li>
            <li>Chemicals from pharmaceuticals, consumer products, and the chemical industry;</li>
            <li>The needs of regulators and stakeholders.</li>
        </ul>
        <p>
            VHP represents a major step forward in moving away from animal testing by providing tools based on human data. 
            <span class="read-more-btn" onclick="toggleReadMore()">Read more...</span>
        </p>
        <div class="read-more-content" style="display: none;">
            <h3>Moving Beyond Animal Testing</h3>
            <p>Traditional animal studies often fail to predict toxicity in humans. VHP aims to overcome this by focusing on human-relevant data and providing the needed services and workflows to translate this data into new insights. The platform has been developed within three research lines:</p>
            <ol>
                <li>Building the platform</li>
                <li>Generating and integrating human-relevant data</li>
                <li>Ensuring stakeholder acceptance and sustainability</li>
            </ol>
            <p>With global efforts to reduce animal testing, VHP accelerates the shift to human-centered safety assessment.</p>
            <h3>VHP4Safety: The project behind VHP</h3>
            <p>VHP was developed through the VHP4Safety project, funded by the Dutch Research Council (NWO). The project ran from June 1, 2021, for five years, paving the way for a future of safety assessments based entirely on human data.</p>
            <span class="read-more-btn" onclick="toggleReadMore()">Read less.</span>
        </div>
    </section>
    <section class="partners-section" id="partners-section">
        <div class="content">
            <h2>Project Partners</h2>
            <p>Collaboration and support in innovation.</p>
            <div class="carousel-container">
                <button class="carousel-arrow left" onclick="scrollCarousel('left')">&#8249;</button>
                <div class="carousel">
                    <div class="carousel-item">
                        <img src="/static/images/partners/AUMC.png" alt="AUMC Logo" class="partner-logo" data-link="https://www.amsterdamumc.org/nl.htm">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/bayer.svg" alt="Bayer Logo" class="partner-logo" data-link="https://www.bayer.com/en/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/certara.jpg" alt="Certara Logo" class="partner-logo" data-link="https://www.certara.com/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/CR.png" alt="Charles River Logo" class="partner-logo" data-link="https://www.criver.com/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/DBF.jpg" alt="DBF Logo" class="partner-logo" data-link="https://brandwondenstichting.nl/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/HU.png" alt="HU Logo" class="partner-logo" data-link="https://www.hu.nl/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/ICCS.jpg" alt="ICCS Logo" class="partner-logo" data-link="https://www.iccs-cosmetics.org/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/RIVM.jpg" alt="RIVM Logo" class="partner-logo" data-link="https://www.rivm.nl/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/shell.png" alt="Shell Logo" class="partner-logo" data-link="https://www.shell.com/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/UM.png" alt="UM Logo" class="partner-logo" data-link="https://www.maastrichtuniversity.nl/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/unilever.jpg" alt="Unilever Logo" class="partner-logo" data-link="https://www.unilever.com/">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/UU.png" alt="UU Logo" class="partner-logo" data-link="https://www.uu.nl/en">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/partners/VIG.png" alt="VIG Logo" class="partner-logo" data-link="https://www.vereniginginnovatievegeneesmiddelen.nl/">
                    </div>
                </div>
                <button class="carousel-arrow right" onclick="scrollCarousel('right')">&#8250;</button>
            </div>
        </div>
    </section>
    <section class="contact-section" id="contact-section">
        <div class="content">
            <h2>Let’s chat!</h2>
            <p>We’d love to hear from you! Whether you have feedback on our services, a question about our platform, or just want to connect, we’re here to help. Fill out the form or use our contact info down below, and we’ll get back to you as soon as possible.</p>
            <a href="mailto:vhp4safety@uu.nl">vhp4safety@uu.nl</a><br>
            <a href="https://www.linkedin.com/company/vhp4safety/posts/?feedView=all">LinkedIn</a>
        </div>
        <div class="contact-form">
            <form action="mailto:mirthe.klaassen@maastrichtuniversity.nl" method="post" enctype="text/plain">
                <input type="text" name="name" placeholder="Name *" required>
                <input type="email" name="email" placeholder="Email *" required>
                <input type="text" name="organization" placeholder="Organization">
                <input type="tel" name="phone" placeholder="Phone">
                <textarea name="message" placeholder="Message *" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>EXPLORE</h3>
                <ul>
                    <li><a href="#">Assessment</a></li>
                    <li><a href="#">Workflows</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Data</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>RESOURCES</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>LEGAL</h3>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>CONNECT</h3>
                <ul>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <p>&copy; 2025 VHP4Safety</p>
    </footer>
    <div class="scroll-down-arrow" onclick="scrollToNextSection()"></div>
</body>
</html>
