/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Apply Open Sans globally */
body {
  font-family: "Open Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  padding-top: 100px; /* Adjust if navbar height changes */
}

/* Cards as a button */

.card-button:hover, .card-button:focus{
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-button-vhppink:hover, .card-button-vhppink:focus{
      color: var(--bs-vhppink);
      border-color: var(--bs-vhppink);
}
.card-button-vhpblue:hover, .card-button-vhpblue:focus{
      color: var(--bs-vhpblue);
      border-color: var(--bs-vhpblue);
}
.card-button-vhporange:hover,  .card-button-vhporange:focus{
      color: var(--bs-vhporange);
      border-color: var(--bs-vhporange);
}   

.card-button-vhpteal:hover,  .card-button-vhpteal:focus{
      color: var(--bs-vphteal);
      border-color: var(--bs-vhpteal);
}  



/* Default accordion button (collapsed) stays standard */
.accordion-button {
  background-color: var(--bs-white);
  color: var(--bs-body-color);
  border: none;
}

/* When the accordion is open (NOT collapsed) */
.accordion-button:not(.collapsed) {
  background-color: var(--bs-vhplight-blue);
  color: var(--bs-body-color);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

/* Remove Bootstrap’s dark gradient focus ring */
.accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}

/* Optional: make arrow icon darker on light blue */
.accordion-button:not(.collapsed)::after {
  filter: brightness(0.6);
}

/* ==
/* Link Colors */
a {
  color: var(--pink);
  font-weight: 600;
}

a:hover {
  color: var(--blue);
}



/* Custom Scrollbar */
html {
  scrollbar-color: var(--grey) var(--white);
}





