/* This CSS file is used for home.html, it builds upon base.css */




.partner-logo {
  /* Individual partner logo styling */
  width: 200px;
  height: 200px;
  object-fit: contain; /* Ensures the logo fits nicely within the white container */
  background-color: white;
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Padding inside the logo container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover transition*/
}

.partner-logo:hover {
  transform: scale(1.1); /* Slightly enlarges on hover */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}



.contact-icon {
  font-size: 2em;
  color: var(--bs-vhppink);
  margin: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
  color: var(--bs-vhppink);
  text-decoration: none; /* No underline on hover */
}

.scroll-down-arrow {
  /* Arrow to scroll down the landing page */
  position: fixed; /* Fixed to the bottom of the viewport */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: grey;
  cursor: pointer;
  z-index: 1001;
  width: 0; /* Width and height set to 0 for the arrow effect */
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid grey;
}

.scroll-down-arrow:hover {
  border-top-color: black;
  transition: border-top-color 0.3s;
}

.dropdown-menu.dropdown-scroll {
  max-height: 300px; 
  overflow-y: auto;  
}

