/* This CSS file is used for qaop_app.html and other related html files, it builds upon custom_bootstrap.css */

/* Style for Cytoscape Container */
#cy {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 72vh;
}
.container {
    display: flex;
    width: 90vw;
    margin: 0;
    padding: 0;
    margin-top: 90px; /* Adjust this value based on the navbar height */
}
.left, .center {
    padding: 10px;
    flex-shrink: 0;
}
.left {
    width: 47vw;
    max-height: 20vh;
    margin-left: 2.5vw;
}
.center {
    width: 47vw;
    margin-right: 2.5vw;
}
.table-container {
    max-height: 65vh;
    overflow-y:scroll;
    border-radius: 20px;
}
th, td {
    word-wrap: break-word;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.loading {
    color:#000000;

}

.form-control {
    max-width: 90px;
    width: 90px;
    font-size: 13px;
}

#gene_table {
    display: table; /* Ensure the table is displayed properly */
    width: 100%;    /* Make it responsive */
    margin-top: 10px;
}

.scrollable-table {
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 10px;
    padding: 5px;
    background-color: #f9f9f9; /* Ensure a white background for the tables */
}

#compound_table, #gene_table {
    width: 100%; /* Ensure tables take full width of their container */
    margin: 0; /* Remove default margins */
    border-collapse: collapse; /* Ensure proper table styling */
}

.container button {
    background-color: var(--blue);
    font-size: 16px;
    height: 40px;
    margin: 2px;
    display: inline-block; /* Ensure buttons are displayed inline */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

tr:hover {
    background-color: var(--light-blue);
    transition: background-color 0.3s ease;
}

tr:last-child td {
    border-bottom: none;
}

select {
    background-color: var(--white);
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    height: 40px;
    color: var(--black);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

select:hover {
    border-color: var(--purple);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input[type="number"] {
    background-color: var(--white);
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--black);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: auto;
    display: inline-block;
}

input[type="number"]:hover {
    border-color: var(--purple);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

