
/* Settings for the tooltips */

.tooltip-icon {
    display: inline-block;
    margin-left: 5px;
    color: var(--vhp-pink);
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

.tooltip-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 125%; /* Position above the icon */
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: pre-line; /* allows line breaks */
    font-size: 0.85em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    width: max-content;
    max-width: 250px;
    text-align: center;
    z-index: 1000;
}

.tooltip-icon:hover::after {
    opacity: 1;
}

.card img {
  filter: grayscale(100%);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.card:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

