/* Predefined Colors */
:root {
    --pink: #e6007e;
    --blue: #307bbf;
    --purple: #29235c;
    --orange: #eb5b25;
    --light-blue: #c1e5f5;
    --white: #ffffff;
    --black: #000000;
}

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
    scroll-behavior: smooth;
}

body, h1, h2, h2, p, a, .nav-links button, .nav-button, footer, input, textarea {
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--black);
}

/* General Styles for Headings, Paragraphs, and Links */
h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin:20px 10px 0px 0px;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
    text-align: left;
    margin: 20px 0px 0px 0px;;
}

p, ul, ol, li, input, textarea {
    font-size: 1em;
    text-align: justify;
    margin:0px;
    color: #3A3A3A;
}

a {
    color: var(--pink);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    color: var(--blue);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-image {
    height: 70px;
    width: auto;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

/* Navbar Buttons */
.nav-links button, .nav-button, .contact-form button {
    background: none;
    border: none;
    color: var(--white);
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links button:nth-child(1), .assessment {
    background-color: var(--pink);
}

.nav-links button:nth-child(2), .workflows {
    background-color: var(--blue);
}

.nav-links button:nth-child(3), .tools {
    background-color: var(--purple);
}

.nav-links button:nth-child(4), .data {
    background-color: var(--orange);
}

.nav-links button:hover, .arrow:hover, .contact-form button:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* Hamburger Menu Icon */
.hamburger-menu {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    color: var(--black);
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.hamburger-menu:hover {
    color: var(--pink);
}

/* Sliding Menu Overlay */
/* Ensure consistent transition for both appearance and disappearance */
.menu-overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100%;
    background-color: var(--light-blue);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 50px;
    transition: right 0.6s ease; /* Applies to both opening and closing */
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
}

.menu-overlay.open {
    right: 0; /* Ensure this works with the transition */
}

.menu-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-overlay li {
    margin: 20px 0;
}

.menu-overlay a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}

.menu-overlay a:hover {
    color: var(--pink);
}

/* Close Button for Menu Overlay */
.menu-overlay .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
    color: var(--black);
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.menu-overlay .close-button:hover {
    color: var(--pink);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    padding: 90px;
    background-color: var(--white);
    color: var(--black);
    max-width: 70%; /* Adjusted for better responsiveness */
    margin: auto;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px;
}

/* Hero Text */
.hero-text h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 1;
}

.hero-text p {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0;
    color: var(--black);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Tab section */
.tab-section {
    background-color: var(--light-blue);
    color: var(--black);
    padding: 40px 20px;
    text-align: center;
    padding: 100px;
}

.hexagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.hexagram-wrapper {
    position: relative;
    width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    padding: 15px;
}

.nav-button {
    position: absolute;
    top: 10px;
    z-index: 3;
}

.hexagram {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: var(--white);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.hexagram p {
    font-size: 15px;
    color: var(--black);
    margin: 0;
    z-index: 2;
    text-align: center;
}

.arrow {
    position: absolute;
    bottom: 90px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--pink);
    z-index: 10;
}

/* Specific Button and Arrow Colors */
.assessment-arrow {
    border-left-color: var(--pink);
}

.workflows-arrow {
    border-left-color: var(--blue);
}

.tools-arrow {
    border-left-color: var(--purple);
}

.data-arrow {
    border-left-color: var(--orange);
}

.about-section {
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.read-more-content {
    transition: all 0.3s ease-in-out;
}

.read-more-btn {
    color: var(--pink);
    cursor: pointer;
    font-weight: 600;
}

.read-more-btn:hover {
    color: var(--blue);
    text-decoration: underline;
}

.partners-section {
    background-color: var(--light-blue);
    color: var(--black);
    text-align: center;
    padding: 80px 0px;
    max-width: 100%;
    margin: 0 auto;
}

.partners-section .content {
        max-width: 55%;
        margin: 0 auto;
    }

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-arrow {
    font-size: 2.5em;
    color: #3A3A3A;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-arrow.left {
    left: -40px;
}

.carousel-arrow.right {
    right: -40px;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    scroll-behavior: smooth;
}

/* Ensure all partner logos have the same square size */
.partner-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* Contact Section */
/* Updated Contact Section for Two Columns */
.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: var(--white);
    padding: 100px 0px;
    max-width: 55%;
    margin: 0 auto;
}

.contact-section .content {
    flex: 1;
    max-width: 100%;
}

.contact-section .contact-form {
    flex: 1;
    max-width: 100%;
    margin-top: 10px;
}

.contact-section h2 {
    margin: 0px 10px 0px 0px;;
}

/* Updated Contact Form Styling */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #d3d3d3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.contact-form button {
    background-color: #29235c;
    font-size: 18px;
    height: 40px;
    width: 100px;
}

/* Footer */
footer {
    background-color: var(--light-blue);
    text-align: center;
    padding: 0;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 55%; /* Restrict the width to 55% of the footer */
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px; /* Add spacing between columns */
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    text-align: left;
}

.footer-column h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #3A3A3A;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-column ul li a:hover {
    text-decoration: underline;
    color: var(--pink);
}

.scroll-down-arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: grey;
    cursor: pointer;
    z-index: 1000;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid grey;
}

.scroll-down-arrow:hover {
    border-top-color: black;
}

@media (max-width: 1920px) {
    .hero {
        max-width: 80%;
        padding: 80px;
    }

    .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 60%;
    }
}

@media (max-width: 1680px) {
    .hero {
        max-width: 90%;
        padding: 60px;
    }

    .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 70%;
    }
}

@media (max-width: 1480px) {
    .hero {
        max-width: 100%;
        padding: 40px;
    }

    .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 80%;
    }
}