/* Predefined Colors */
:root {
    --pink: #e6007e;
    --blue: #307bbf;
    --purple: #29235c;
    --orange: #eb5b25;
    --light-blue: #c1e5f5;
    --white: #ffffff;
    --black: #000000;
    --grey: #e0e0e0;
}

/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /* The Open Sans font imported from Google Fonts */

html, body {
    scroll-behavior: smooth; /* Smooth scrolling for the anchor links */
    height: 100%; /* Ensuring the body takes full height */
    display: flex; /* Flexbox to center all content */
    flex-direction: column; /* Using column layouts for all content */
    margin: 0; /* Resetting any default margins */
    padding: 0; /* Resetting any default padding */
    line-height: 1.6; /* Line height for better readability */
    text-align: left; /* Aligning text to the left */
    color: var(--black); /* Default text color */
    font-family: 'Open Sans', Arial, sans-serif; /* Applying font */
}

main {
    flex-grow: 1; /* Push the footer to the bottom when content is short */
}

section {
    max-width: 55%; /* Width of sections is 55% of the viewport */
    margin: 0 auto; /* Centering sections */
    padding: 100px; /* Padding for sections */
}

/* General Styles for headings, paragraphs, lists and Links */
h1 {
    font-size: 2.5em; 
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.25em;
    font-weight: bold; 
    margin: 20px 0px 0px 0px;
}

p, ul, ol, li, input, textarea {
    font-size: 1em;
    text-align: justify;
    margin: 0px;
    color: #3A3A3A;
    font-family: 'Open Sans', Arial, sans-serif; /* Applying font */
}

a {
    color: var(--pink);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    color: var(--blue);
}

/* General Table Styling */
table {
    width: 100%;
    border-collapse: collapse; /* Remove gaps between table cells */
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

table th, table td {
    padding: 12px 15px; /* Add padding for better readability */
    border: 1px solid #ddd; /* Light border for table cells */
}

table th {
    background-color: var(--purple); /* Header background color */
    color: var(--white); /* Header text color */
    text-transform: uppercase; /* Capitalize header text */
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: var(--grey); /* Alternate row background color */
}

table tr:hover {
    background-color: var(--light-blue); /* Highlight row on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* General Style for buttons */
button {
    background: none;
    border: none;
    color: var(--white);
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease; /* Smooth hover transition */
}

button:hover { /* Hover effect for all buttons */
    opacity: 0.5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed; /* Fixed to top of window */
    top: 0;
    width: 100%; /* Full width */
    z-index: 9999; /* Ensure navbar is above other content */
    box-sizing: border-box;
    height: 90px; /* Ensure consistent height */
}

.logo-image {
    height: 70px;
    width: auto;
    margin-left: 20px;
}

.nav-links { /* Positioning of navbar buttons and hamburger menu icon */
    display: flex; /* Flexbox for horizontal alignment */
    gap: 10px; /* Space between buttons */
    align-items: center; /* Center items vertically in navbar */
    margin-left: auto; /* Pushes the links to the right of the navbar */
}

/* Buttons in navbar and tab-section, these are additions to the general button style above */
.nav-links button, .tab-button, .contact-form button {
    font-size:19px;
    width: 150px;
}

/* Giving each tab it's own color */
.nav-links button:nth-child(1), .assessment, .button-pink { background-color: var(--pink);}
.nav-links button:nth-child(2), .workflows, .button-blue { background-color: var(--blue);}
.nav-links button:nth-child(3), .tools, .button-purple { background-color: var(--purple);}
.nav-links button:nth-child(4), .data, .button-orange { background-color: var(--orange);}

/* Hamburger Menu Icon */
.hamburger-menu {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer; /* Pointer cursor for better UX, to show it's clickable */
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center; /* Centering the icon vertically */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.hamburger-menu:hover { /* Hover effect for hamburger menu icon */
    color: var(--pink);
}

/* Sliding Menu after clicking hamburger icon */
.menu-overlay {
    position: fixed; /* Fixed to the right side of the screen */
    top: 0;
    right: -100%; /* Starts off-screen to the right */
    width: 280px;
    height: 100%;
    background-color: var(--light-blue);
    z-index: 999999; /* Ensure it appears above other content */
    display: flex;
    flex-direction: column; /* Column layout for menu items */
    padding: 50px;
    transition: right 0.6s ease; /* Applies to both opening and closing */
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
}

.menu-overlay.open {
    right: 0; /* Moves into view when open */
}

.menu-overlay ul { /* Unordered list for menu items */
    list-style: none; /* Removes default bulletpoints */
    padding: 0;
    margin: 0;
}

.menu-overlay li { /* Individual menu items */
    margin: 20px 0; /* Space between menu items */
}

.menu-overlay a {
    color: var(--black);
    text-decoration: none; /* No underline for links in menu */
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}

.menu-overlay a:hover { /* Hover effect for links in menu */
    color: var(--pink);
}

/* Close Button for Menu Overlay */
.menu-overlay .close-button { 
    position: absolute; /* Positioned at the top right corner of the menu */
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.menu-overlay .close-button:hover { /* Hover effect for close button */
    color: var(--pink);
}

/* Hero Section */
.hero { /* Main hero section of the page */
    display: flex;
    align-items: center; /* Centering items vertically */
    max-width: 70%; /* Adjusted for better responsiveness */
}

.hero-text {
    flex: 1; /* Takes up remaining space in the flex container */
}

.hero-text h1 { /* Main heading in the hero section */
    font-size: 4em; /* Large font size for the main heading */
}

.hero-text p {
    font-size: 1.5em;
    font-weight: 300; /* Lighter font weight for the subtitle */
}

.hero-image {
    flex: 1; /* Takes up remaining space in the flex container */
    display: flex;
    justify-content: center; /* Centering the image horizontally */
}

/* Tab section */
.tab-section {
    background-color: var(--light-blue);
    text-align: center; /* Centering text in the tab section */
    max-width: 100%; /* Full width instead of standard 55% */
}

.hexagram-container { /* Container for all hexagrams */
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping of hexagrams on smaller screens */
    justify-content: center; /* Centering hexagrams horizontally */
    gap: 40px; /* Space between hexagrams */
    margin-top: 20px; /* Space above the hexagram container */
}

.hexagram-wrapper { /* Individual hexagram wrapper with button and arrow */
    position: relative; /* Positioned relative to allow absolute positioning of child elements */
    width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Padding between the hexagrams */
}

.hexagram { /* Individual hexagram styling */
    width: 100%; /* Full width of the wrapper */
    height: 210px;
    background-color: var(--white);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Hexagon shape */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Padding inside the hexagram */
}

.hexagram p { /* Text inside the hexagram */
    font-size: 15px; 
    text-align: center;
}

.tab-button { /* Tab button on top of the hexagram */
    position: absolute; /* Positioned absolutely to overlap the hexagram */
    top: 10px; /* Adjusted to be at the top of the hexagram */
    z-index: 1000; /* Ensures it appears above the hexagram */
}

.arrow { /* Arrow at the bottom of each hexagram */
    position: absolute;
    bottom: 90px;
    width: 0; /* Width and height set to 0 for the arrow effect */
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--pink); /* Default color */
    z-index: 1000; /* Ensures it appears above the hexagram */
}
/* Specific Arrow Colors */
.assessment-arrow {border-left-color: var(--pink);}
.workflows-arrow {border-left-color: var(--blue);}
.tools-arrow {border-left-color: var(--purple);}
.data-arrow {border-left-color: var(--orange);}
.arrow:hover{ /* Hover effect for arrows */
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* About Section on landing page */
.read-more-content { /* Hidden content that appears when "Read More" is clicked */
    transition: all 0.3s ease-in-out;
}

.read-more-btn { /* Button to toggle the read more content */
    color: var(--pink);
    cursor: pointer;
    font-weight: 600;
}

.read-more-btn:hover { /* Hover effect for the read more button */
    color: var(--blue);
    transition: color 0.3s ease;
}

/* Partners Section */
.partners-section {
    background-color: var(--light-blue);
    padding: 80px 0px;
    max-width: 100%;
}

.partners-section .content {
    max-width: 55%; /* Restricting width of content to 55% of the viewport */
    margin: 0 auto; /* Centering the content */
}

.carousel-container { /* Container for the carousel */
    position: relative; /* Positioned relative to allow absolute positioning of arrows */
}

.carousel-arrow { /* Arrow buttons for the carousel */
    font-size: 2.5em;
    color: #3A3A3A;
    background-color: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centering vertically in container*/
    box-shadow: none;
}
/* Moving the arrows a little out of the wrapper */
.carousel-arrow.left {left: -40px;}
.carousel-arrow.right {right: -40px;}

.carousel { /* Carousel for partner logos */
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: flex-start; /* Start from the left */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between logos */
    overflow: hidden; /* Hides overflow for smooth scrolling effect */
    padding: 10px;
}

.partner-logo { /* Individual partner logo styling */
    width: 200px;
    height: 200px;
    object-fit: contain; /* Ensures the logo fits nicely within the white container */
    background-color: white;
    border-radius: 20px; /* Rounded corners */
    padding: 10px; /* Padding inside the logo container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover transition*/
}

.partner-logo:hover {
    transform: scale(1.1); /* Slightly enlarges on hover */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

/* Contact Section */
.contact-section {
    display: flex; /* Flexbox for two columns*/
    flex-direction: row;
    gap: 50px;
}

.contact-section .content { /* Left column with text */
    flex: 1;
    max-width: 100%;
}

.contact-section .contact-form { /* Right column with form */
    flex: 1;
    max-width: 100%;
    margin-top: 10px; /* Aligns the form with the text */
}

.contact-form input, .contact-form textarea { /* Input fields and textarea in the form */
    width: 100%;
    padding: 10px; /* Padding inside input fields */
    margin: 5px; /* Space between fields */
    border: none;
    border-radius: 15px;
    background-color: #d3d3d3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
}

.contact-form button { /* Submit button in the form */
    background-color: var(--purple);
    height: 40px; /* Little less high than regular button */
}

.contact-icon {
    font-size: 2em;
    color: var(--pink);
    margin: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
    color: var(--blue);
    text-decoration: none; /* No underline on hover */
}

/* Services list (service_list.html) */
.card {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: var(--light-blue);
    width: 100%;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: to match the card's rounded corners */
    object-fit: cover; /* Ensures the image fits nicely within the card */
}

/* Footer */
footer {
    background-color: var(--light-blue);
    font-size: 0.8em; /* Smaller font size for footer */
}

.footer-container {
    display: flex;
    max-width: 55%; /* Restrict the content width to 55% of the footer */
    margin: 0 auto; /* Centering the footer content */
    gap: 40px; /* Add spacing between columns */
}

.footer-column {
    flex: 1; /* Each column takes equal space */
}

.footer-column h3 {
    font-size: 1.1em;
    margin-top: 30px;
    text-transform: uppercase; /* Uppercase for headings */
}

.footer-column ul { /* Unordered list for footer links */
    list-style: none; /* Removes default bulletpoints */
    padding: 0; /* No default indentation */
}

.footer-column ul li {
    margin: 5px 0; /* Space between list items */
}

.footer-column ul li a { /* Links in the footer */
    color: #3A3A3A;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-column ul li a:hover { /* Hover effect for footer links */
    text-decoration: underline;
    color: var(--pink);
}

.scroll-down-arrow { /* Arrow to scroll down the landing page */
    position: fixed; /* Fixed to the bottom of the viewport */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: grey;
    cursor: pointer;
    z-index: 1001; 
    width: 0; /* Width and height set to 0 for the arrow effect */
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid grey;
}

.scroll-down-arrow:hover {
    border-top-color: black;
    transition: border-top-color 0.3s;
}

/* Thyroid hackathon demo workflow */
#service_selection { /* Container for the service selection section */
    display: flex;
    gap: 20px;
}

.service-tile { /* Individual service tile */
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    background-color: var(--grey);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s;
    color: #333;
}

.service-tile input[type="checkbox"] {
    display: none; /* Hide the native checkbox */
}

.service-tile:hover { /* Hover effect */
    background-color: var(--light-blue);
    opacity: 0.7;
}

.service-tile:has(input:checked) { /* When the service tile is selected */
    background-color: var(--light-blue);
}

.service-desc { /* Description of the service tile */
    font-size: 0.9em;
    text-align: left;
}

.qspr-section { /* Section for QSPR model selection*/
    display: none; /* Hidden until QSPR is selected */
}

/* Styling for model checkboxes */
.model-checkbox {
    display: none; /* Hide the native checkbox */
}

.model-checkbox + label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 6px;
    background-color: var(--grey);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    color: #333;
}

.model-checkbox:checked + label {
    background-color: var(--light-blue);
    border-color: var(--dark-blue);
}

.model-checkbox + label:hover {
    opacity: 0.8;
}

/* Mirthe: I can't find the toggle in the page and can't see the results table because I can't select compound smiles, will check back later when it works again to adjust styling of #toggle_compound_table, #results_container and #results_table if needed. */

#toggle_compound_table {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#results_container {
    display: none;
    background: var(--white);
    border: 2px solid var(--dark-blue);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--dark-blue);
    padding: 20px;
    margin-top: 20px;
    overflow-x: auto;
}

#results_table th {
    background-color: #29235c;
}

/* Responsive design for different screen sizes */
@media (max-width: 1920px) {
    .hero {
        max-width: 80%;
        padding: 80px;
    }

    section, .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 60%;
    }
}

@media (max-width: 1680px) {
    .hero {
        max-width: 90%;
        padding: 60px;
    }

    section, .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 70%;
    }
}

@media (max-width: 1480px) {
    .hero {
        max-width: 100%;
        padding: 40px;
    }

    section, .about-section, .partners-section .content, .contact-section, .footer-container {
        max-width: 80%;
    }
}