{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/css/casestudies.css" />
<!-- Breadcrumbs  -->
<div class="breadcrumbs" id="breadcrumbs"></div>
<!-- Steps Wrapper -->
<div class="steps-wrapper" id="stepsWrapper">
  <!-- Step 1 -->
  <div class="step">
    <div class="nav-section">
      <div id="step1-content">
        <!-- Content will be injected here -->
      </div>
    </div>
    <div class="content-section">
      <div id="step1-bottom-content">
        <!-- Content will be injected here -->
      </div>
    </div>
  </div>
  <!-- Step 2 -->
  <div class="step">
    <div class="nav-section">
      <!-- Dynamic content for Step 2 -->
      <div id="step2-content">
        <!-- Content will be injected here -->
      </div>
    </div>
    <div class="content-section">
      <div id="step2-bottom-content">
        <!-- Content will be injected here -->
      </div>
    </div>
  </div>
  <!-- Step 3 -->
  <div class="step">
    <div class="nav-section">
      <div id="step3-content">
        <!-- Content will be injected here -->
      </div>
    </div>
    <div class="content-section">
      <div id="step3-bottom-content">
        <!-- Content will be injected here -->
      </div>
    </div>
  </div>
  <!-- Step 4 -->
  <div class="step">
    <div class="nav-section">
      <div id="step4-content">
        <!-- Content will be injected here -->
      </div>
    </div>
    <div class="content-section">
      <div id="step4-bottom-content">
        <!-- Content will be injected here -->
      </div>
    </div>
  </div>
</div>
<script src="/static/js/casestudies.js"></script>
{% endblock %}
