{% extends "base.html" %} {% block content %}
<section>
  <h1>Case Studies</h1>
  <p>
    The Virtual Human Platform has been developed using three example case studies, which function
    as a proof of concept. For each case study, two exemplary regulatory questions were formulated
    to show how the platform can be used for a step-by-step human-based risk assessment.
  </p>
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="/casestudies/kidney"><img width="75" src="/static/images/image43_hexagon.svg" /></a></td>
      <td>Kidney case study: to study disease and pharmacovigilance.</td>
    </tr>
    <tr>
      <td><a href="/casestudies/parkinson"><img width="75" src="/static/images/image45_hexagon.svg" /></a></td>
      <td>Parkinson case study: to study life course pesticide exposure and neurodegenerative disease.</td>
    </tr>
    <tr>
      <td><a href="/casestudies/thyroid"><img width="75" src="/static/images/image47_hexagon.svg" /></a></td>
      <td>Thyroid case study: to study health effects discriminated by age and sex on thyroid-mediated neurodevelopment.</td>
    </tr>
  </table>
</section>
{% endblock %}
