{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="/static/css/casestudies.css" />

<section class="container py-md-5 py-3">

  <div class="">
        <h1><span class="text-vhpblue" id="collection-name">Case Studies</span></h1>
        <p class="text-secondary fs-5">The Virtual Human Platform was developed using three case studies based on human scenarios.   </p>
        <p class="mb-4" style="text-align: justify;">
        For each case study, two regulatory questions were defined to demonstrate how the platform supports step-by-step safety assessment. Within the Safety Assessment Steps, users can access the tools, methods, and data needed to address these regulatory questions. These steps organize the platform’s processes, guiding users through structured, transparent assessments. For more information, visit our Safety Assessment Steps <a class="link-vhpblue text-decoration-none" href="{{ url_for('SafetyAssessmentWorkflow') }}" >info page.</a>
        </p>
    </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for card in cards %}
    <div class="col">
      <a href="/casestudies/{{ card.slug }}" class="text-decoration-none">
        <div class="card h-100 text-center card-button card-button-vhpblue">
          {% if card.image_src %}
            <img src="{{ card.image_src }}" class="card-img-top p-4 img-fluid" alt="{{ card.image_alt or card.title }}" style="max-width: 120px; margin: 0 auto;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>


</section>
{% endblock %}
