{% extends "base.html" %} {% block content %}
<section class="container py-5">

  <div class="">
        <h1><span class="text-vhpblue text-center d-flex" id="collection-name">Case Studies</span></h1>
        <p class="text-secondary fs-5">The Virtual Human Platform has been developed using three example case studies, which function
            as a proof of concept. For each case study, two exemplary regulatory questions were formulated
            to show how the platform can be used for a step-by-step human-based risk assessment.
        </p>
    </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
      <div class="card h-100 text-center">
        <a href="/casestudies/kidney">
          <img src="/static/images/image43_hexagon.svg" class="card-img-top p-4 mg-fluid" alt="Kidney case study" style="max-width: 120px; margin: 0 auto;">
        </a>
        <div class="card-body">
          <h5 class="card-title">Kidney case study</h5>
          <p class="card-text">To study kidney disease and pharmacovigilance.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <a href="/casestudies/parkinson">
          <img src="/static/images/image45_hexagon.svg" class="card-img-top p-4 img-fluid" alt="Parkinson case study" style="max-width: 120px; margin: 0 auto;">
        </a>
        <div class="card-body">
          <h5 class="card-title">Parkinson case study</h5>
          <p class="card-text">To study life course pesticide exposure and neurodegenerative disease.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <a href="/casestudies/thyroid">
          <img src="/static/images/image47_hexagon.svg" class="card-img-top p-4 mg-fluid" alt="Thyroid case study" style="max-width: 120px; margin: 0 auto;">
        </a>
        <div class="card-body">
          <h5 class="card-title">Thyroid case study</h5>
          <p class="card-text">To study health effects discriminated by age and sex on thyroid-mediated neurodevelopment.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
