{% extends "base.html" %}{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">

<section>
    <div class="explanation-text">
        <p>Here you can find the tools in the catalog. You can search for a tools that you now by using the search box below. </p>
        <p> Alternatively, you can filter the tools with respect to the <a href="{{ url_for('workflows') }}#about-section">flow step</a> (i.e., blue box) that they belong to and/or the regulatory question that they associated with by ticking the boxes below. </p>
        <p>Use the "Apply Filter" button to see results, and click "Clear Filter" to reset the filters.</p>
        <!--<br>
        <p><em>Note:</em> If there is no webpage associated with the tool, you will see a "No Available Webpage" message instead of a link to the tool.</p>-->
    </div>

    <form method="get" action="{{ url_for('tools') }}">
        <div class="search-bar">
            <input type="text" name="search" placeholder="Search by tool name..." value="{{ request.args.get('search', '') }}">
            <button type="submit" class="btn-search">Search</button>
        </div>


    <!-- <h1>Tool Catalog</h1> --> <!-- I didn't like the look of the text at the top, so I'll just exclude it for now. --> 
    <!-- Filter section for stage values with checkboxes -->
    <form method="get" action="{{ url_for('tools') }}">
        <div class="filters-container">
            <!-- Stage Filter -->
            <div class="filter-section">
                <h3>Filter by Flow Step</h3>
                    {% for stage in stages %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="stage" value="{{ stage }}" 
                    {% if stage in selected_stages %}checked{% endif %}>
                    <label class="form-check-label">{{ stage }}</label>
            </div>
                    {% endfor %}
        </div>

    <!-- Regulatory Questions Filter -->
    <div class="filter-section">
      <h3>Filter by Regulatory Questions</h3>
      {% for question, field in reg_questions.items() %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="reg_q" value="{{ question }}"
             {% if question in selected_questions %}checked{% endif %}>
          <label class="form-check-label">{{ question }}</label>
        </div>
            {% endfor %}
        </div>
    </div>

        <!-- Filter Buttons -->
        <div class="filter-buttons">
            <button type="submit" class="btn-apply-filter">Apply Filter</button>
            <a href="{{ url_for('tools') }}" class="btn-clear-filter">Clear Filter</a>
        </div>
    </form>

    </form>
    <!-- Tools list -->
    <div class="row align-items-start">
        <ul>
            {% for item in tools %}
                <div class="card">
                    <img src="{{ item.png }}" class="card-img-top" alt="Your logo here">
                    <div class="card-body">
                        <h2 class="card-title">{{ item.service }}</h2>
                        <p id="desc" class="card-text">{{ item.description }}</p>

                        <!-- Adding a button to visit the main webpage -->
                        <!-- Checking if 'main_url' is 'no_url' and if it is there won't be a link. -->
                        {% if item.main_url == "no_url" %}
                          <a class="tools-links disabled">No Available Webpage</a> 
                        {% else %}
                          <a href="{{ item.main_url }}" class="btn btn-outline-info" target="_blank">Tool Webpage</a>
                        {% endif %}

                        <!--<a href="{{ item.main_url }}" class="btn btn-outline-info" target="_blank">Tool Webpage</a>-->
                        
                        <h3 class="tools-links">&nbsp;&nbsp; - &nbsp;&nbsp;</h3>
                        <a class="tools-links" href="{{ item.url }}" class="btn btn-outline-info">Catalog Page</a>
                        <h3 class="tools-links">&nbsp;&nbsp; - &nbsp;&nbsp;</h3>
                        <a class="tools-links" href="{{ item.meta_data }}" class="btn btn-outline-info">Meta-Data</a>
                    </div>
                </div>
            {% else %}
                <li>No tools found.</li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}