{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/qaop_app.css') }}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

<!-- Add the font size slider -->
<input type="range" id="font-size-slider" min="0.1" max="1" step=".1" value="0.5" style="display: block; margin: 10px 0;">

<div class="container" data-mies="{{ mies }}">
    <div class="left">
        <section>
            <h2>Add data to the network <select id="data-type-dropdown" onchange="handleDataTypeChange()">
                <option value="qsprpred_opt">QSPRPred</option>
                <option value="mock_opt">Mock Data</option>
            </select></h2>
                <!-- Add more options in the future -->
            
            <div id="qsprpred" class="data-section">
                <button id="fetch_predictions" class="btn btn-primary">QSPRpred activity predictions for MIEs</button>
                <div class="form-group">
                    <p>Set the threshold for pChEMBL (<span id="activity_display">activity of 10<sup>-6.5</sup> M</span>) <input type="number" step="0.1" class="form-control" id="threshold_pchembl" value="6.5" oninput="updateActivity()" style="display: inline-block; width: auto;"></p>
                    <script>
                        function updateActivity() {
                            var value = document.getElementById('threshold_pchembl').value;
                            document.getElementById('activity_display').innerHTML = 'activity of 10<sup>-' + value + '</sup> M';
                        }
                    </script>
                </div>
                        <div class="table-container">
                            <table class="table table-bordered table-striped" id="compound_table">
                                <thead>
                                    <tr>
                                        <th>Compound <p class="loading" id="loading_pred" style="text-align: center; display: none;">Requesting QSPRpred results...</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <p class="loading" id="loading_compound" style="text-align: center;">Loading compound list...</p>
                                </tbody>
                            </table>
                        </div>
                        </section>            
            
            <div id="mock" class="data-section" style="display: none;">
                <div class="table-container">
                    <table class="table table-bordered table-striped" id="mock_table"> 
                        <thead>
                            <tr>
                                <th>Mock Column</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="center">
        <section>
            <h2>
                Adverse Outcome Pathway Network
            </h2>
                <button id="reset_layout" class="btn btn-secondary">Reset Layout</button>
                <button id="see_genes" class="btn btn-secondary">See Genes</button>
                <button id="toggle_bounding_boxes" class="btn btn-secondary">Group by AOP</button>
                <button id="download_network" class="btn btn-secondary">Download Cytoscape Network</button>
            <div id="cy">
                <p class="loading" id="loading_aop" style="text-align: center;">Loading AOP network...</p>
            </div>
        </section>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.23.0/cytoscape.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/cytoscape-popper/cytoscape-popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
<script src="https://cdn.jsdelivr.net/npm/cytoscape-qtip@2.7.0/cytoscape-qtip.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script src="/static/js/aop_app/aop_elements.js"></script>
<script src="/static/js/aop_app/aop_styles.js"></script>
<script src="/static/js/aop_app/qsprpred.js"></script>
<script src="/static/js/aop_app/select_data.js"></script>

{% endblock %}
